.chart-container {
  margin: 20px 0;
  width: 280px;
  height: 280px;
  position: relative;
  z-index: 2;
}
/* .chart-container canvas {
  background-color: transparent;
  border: none;
} */
@media screen and (min-width: 768px) {
  .chart-container {
    width: 336px;
    height: 336px;
    align-self: flex-start;
    order: -1;
  }
}

@media screen and (min-width: 1280px) {
  .chart-container {
    width: 288px;
    height: 288px;
    margin-top: 20px;
  }
}
