.chart-container {
  margin: 20px 0;
  width: 280px;
  height: 280px;
  /* position: relative; */
  z-index: 2;
}
/* .chart-container canvas {
  background-color: transparent;
  border: none;
} */
@media screen and (min-width: 768px) {
  .chart-container {
    width: 336px;
    height: 336px;
    position: absolute;
    top: 40px;
    left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .chart-container {
    width: 288px;
    height: 288px;
    left: 69px;
  }
}
