.dashboard {
  background-color: var(--background-register);
}

.dasboardContainersWrapper {
  margin-top: 32px;
}

.dashboardOverview {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dashboardOverviewWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.mobileWrapper {
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .background {
    display: block;
    position: absolute;
    z-index: 0;

    &.right {
      width: 368px;
      height: 383px;
      top: 0;
      right: 0;
    }

    &.left {
      width: 496px;
      height: 323px;
      bottom: 0;
      left: 0;
    }

    .dashboardOverview {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1280px) {
  .dashboardOverview {
    flex-direction: column;
    align-items: flex-start;
  }

  .dasboardContainersWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
}
