.diagramWrapper {
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.diagramTab {
  padding: 0 20px;
}

.title {
  font-family: 'Poppins Regular';
}

@media screen and (min-width: 768px) {
  .diagramTab {
    padding: 0 32px;
    width: 100%;
  }
  .diagramWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Dodane, aby elementy były wyśrodkowane względem osi Y */
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .diagramWrapper {
    margin-top: 0;
  }
  .diagramTab {
    padding: 0 16px 0 69px;
  }
}

.title {
  margin-top: 20px;
  justify-content: center;
  min-width: 280px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Poppins Regular';
}
.statisticsContainer {
  padding: 20px;
}
