.diagramTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .diagramTab {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .diagramTab {
    margin-top: 0;
  }
}
