.background {
  display: none;
}

.header {
  display: none;
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.wrapper {
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .registerPage {
    background: var(--background-register);
    align-items: start;
  }

  .background {
    display: block;
    position: absolute;
    z-index: 0;

    &.right {
      width: 368px;
      height: 383px;
      top: 0;
      right: 0;
    }

    &.left {
      width: 496px;
      height: 323px;
      bottom: 0;
      left: 0;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .logo {
    width: 250px;
    height: 250px;
  }

  .headerTitle {
    font-family: 'Poppins Regular';
    font-size: 1.67rem;
    margin-left: 55px;
    font-weight: 400;
    line-height: normal;
  }
}

.image {
  width: 250px;
  height: 274px;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 0;
  }

  .formContainer {
    display: flex;
    height: 100vh;
  }

  .formContainer::after {
    content: ' ';
    position: absolute;
    top: 0px;
    background-color: var(--background-primary);
    width: 60vw;
    height: 100vh;
    backdrop-filter: blur(25px);
  }

  .form {
    display: flex;
    z-index: 1;
    padding-left: 107px;
  }

  .logo {
    width: 452px;
    height: 412px;
  }

  .image {
    width: 413px;
    height: 452px;
  }
}
