.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  background-color: #fff;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.logo__svg {
  width: 120px;
  height: 30px;
}
