@import 'modern-normalize/modern-normalize.css';
@import url('./stylesheet/fonts.css');
@import url('./stylesheet/vars.css');

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: 'Circe', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  z-index: -5;
  background-color: var(--background-register);
}

body::before {
  z-index: -4;
  content: '';
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins Regular';
  /* If header needs to be bold just change ONLY font-family to Poppins Bold  */
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  height: 100vh;
  width: 100%;
}

.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
