.passwordStrengthMeter {
  margin-top: 8px;
  margin-bottom: -8px;
}

.passwordStrengthMeterProgress {
  -webkit-appearance: none;
  position: absolute;
  appearance: none;
  width: 100%;
  height: 2px;
}

.passwordStrengthMeterProgress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.passwordStrengthMeterProgress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.Weak::-webkit-progress-value {
  background-color: var(--progressBar-weak);
  box-shadow: 0 0 2px 0.5px var(--progressBar-weak);
}

.Fair::-webkit-progress-value {
  background-color: var(--progressBar-fair);
  box-shadow: 0 0 2px 0.5px var(--progressBar-fair);
}

.Good::-webkit-progress-value {
  background-color: var(--progressBar-good);
  box-shadow: 0 0 2px 0.5px var(--progressBar-good);
}

.Strong::-webkit-progress-value {
  background-color: var(--progressBar-strong);
  box-shadow: 0 0 2px 0.5px var(--progressBar-strong);
}
